html,
body {
    min-height: 100%;
}

body,
input,
select {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
}

h1,
h3 {
    font-weight: 400;
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 32px;
    font-weight: bold;
    font-family: serif;
}

h3 {
    color: rgb(182, 50, 50);
}

.main-block {
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background: url("/uploads/media/default/0001/01/e7a97bd9b2d25886cc7b9115de83b6b28b73b90b.jpeg") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

form {
    line-height: 40px;
    width: 30%;
    padding: 50px;
    margin-bottom: 20px;
    background: rgb(182, 50, 50);
    box-shadow: 5px 20px 50px #000;
    border-radius: 20px;
}

.info{
    margin-top: -30px;
}

.info h5{
    font-size: 27px;
    color: white;
    font-weight: 200;
    font-family: serif;
}

input,
select {
    padding: 5px;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(255, 166, 166);

}

input::placeholder {
    color: #eee;
}

option {
    background: rgb(110, 52, 52);
    border: none;
    font-family: Arial, sans-serif;;
}

input[type="radio"] {
    display: none;
}

label.radio {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    text-indent: 32px;
    cursor: pointer;
}

label.radio:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid black;
}

label.radio:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 4px;
    top: 5px;
    left: 5px;
    border-bottom: 3px solid #1c87c9;
    border-left: 3px solid #1c87c9;
    transform: rotate(-45deg);
    opacity: 0;
}

input[type="radio"]:checked+label:after {
    opacity: 1;
}

button {
    display: block;
    /* width: 166px; */
    padding: 10px;
    border: none;
    border-radius: 17px;
    background: rgb(141, 0, 0);
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-family: serif;
}

button:hover {
    background: #009141;
}

@media (min-width: 568px) {
    .info {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    input {
        width: 100%;
    }

    input.fname {
        width: 100%;
    }

    select {
        width: 100%;
    }
}

.site-footer
{
    /* position: absolute;
    bottom: 0;
    width: 100%; */
  background-color:rgb(182, 50, 50);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:white;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:white;
  /* text-decoration: none; */
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:white
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#503232
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#1f1f1f
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
